<!--? ======= HEADER START ======= -->

<header class="header">
  <div class="header__container container">

    <div class="header__logo">
      <a href="index.html" class="header__logo-link">
        <img class="header__logo-pic" src="img/logo.svg" alt="Logo">
      </a>
    </div>

    <ul class="header__menu js-header__menu">
      <li>
        <a href="#">Главная</a>
      </li>
      <li>
        <a href="#">О компании</a>
      </li>
      <li>

        <span>
          <a href="#">Каталог</a>
          <svg>
            <use xlink:href="img/sprite.svg#arrow-bottom"></use>
          </svg>
        </span>

        <!--? выпадающее меню начало  -->
        <ul class="header__menu-catalog">
          <li>
            <a href="#">Вагонка штиль лиственница</a>
          </li>
          <li>
            <a href="#">Доска пола лиственница</a>
          </li>
          <li>
            <a href="#">Доска пола сосна</a>
          </li>
          <li>
            <a href="#">Имитация бруса сосна</a>
          </li>
          <li>
            <a href="#">Евровагонка лиственница</a>
          </li>
          <li>
            <a href="#">Палубная доска лиственница</a>
          </li>
          <li>
            <a href="#">Прямой планкен лиственница</a>
          </li>
          <li>
            <a href="#">Косой планкен лиственница</a>
          </li>
          <li>
            <a href="#">Террасная доска лиственница</a>
          </li>
        </ul>
        <!--? выпадающее меню конец  -->

      </li>
      <li>

        <span>
          <a href="#">Строительство</a>
          <svg>
            <use xlink:href="img/sprite.svg#arrow-bottom"></use>
          </svg>
        </span>


        <!--? выпадающее меню начало  -->
        <ul class="header__menu-construction">
          <li>
            <a href="#">Построенные здания</a>
          </li>
          <li>
            <a href="#">Ремонт зданий и помещений</a>
          </li>
          <li>
            <a href="#">Планировочные решения</a>
          </li>
        </ul>
        <!--? выпадающее меню конец  -->

      </li>
      <li>

        <span>
          <a href="#">Производство</a>
          <svg>
            <use xlink:href="img/sprite.svg#arrow-bottom"></use>
          </svg>
        </span>


        <!--? выпадающее меню начало  -->
        <ul class="header__menu-production">
          <li>
            <a href="#">Столярная мастерская</a>
          </li>
          <li>
            <a href="#">Сушильный цех</a>
          </li>
          <li>
            <a href="#">Цех обработки</a>
          </li>
          <li>
            <a href="#">Погрузка</a>
          </li>
        </ul>
        <!--? выпадающее меню конец  -->
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>

    <!--? ======= меню на 1000px начало  ======= -->
    <div class="header__menu1000 js-header__menu1000">
      <ul>
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">О компании</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>

      <ul class="header__menu--catalog" id="re">
        <li>
          <a href="#">Каталог</a><!--? выпадающее меню еачало  -->
        </li>
        <li>
          <a href="#">Вагонка штиль лиственница</a>
        </li>
        <li>
          <a href="#">Доска пола лиственница</a>
        </li>
        <li>
          <a href="#">Доска пола сосна</a>
        </li>
        <li>
          <a href="#">Имитация бруса сосна</a>
        </li>
        <li>
          <a href="#">Евровагонка лиственница</a>
        </li>
        <li>
          <a href="#">Палубная доска лиственница</a>
        </li>
        <li>
          <a href="#">Прямой планкен лиственница</a>
        </li>
        <li>
          <a href="#">Косой планкен лиственница</a>
        </li>
        <li>
          <a href="#">Террасная доска лиственница</a>
        </li>
      </ul><!--? выпадающее меню конец  -->

      <div class="header__drop-down-menu">
        <ul>
          <li>
            <a href="#">Строительство</a><!--? выпадающее меню начало  -->
          </li>
          <li>
            <a href="#">Построенные здания</a>
          </li>
          <li>
            <a href="#">Ремонт зданий и помещений</a>
          </li>
          <li>
            <a href="#">Планировочные решения</a>
          </li>
        </ul><!--? выпадающее меню конец  -->

        <ul>
          <li>
            <a href="#">Производство</a><!--? выпадающее меню начало  -->
          <li>
            <a href="#">Столярная мастерская</a>
          </li>
          <li>
            <a href="#">Сушильный цех</a>
          </li>
          <li>
            <a href="#">Цех обработки</a>
          </li>
          <li>
            <a href="#">Погрузка</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header__wrap-button">
      <button class="header__burger js-header__burger">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <button class="header__button">
        Заказать звонок
      </button>

      <button class="header__button525">
        <svg class="header__icon-phone">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!--? ======= HEADER AND ======= -->