<!--? ======= FOOTER STRT ======= -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper-menu">

      <div class="footer__logo">
        <a href="index.html" class="footer__logo-link">
          <img class="header__logo-pic" src="img/footer-logo.png" alt="Logo">
        </a>
      </div>

      <a href="tel:+79827072202" class="footer__link-phone">
        <span>+7<span>(</span>982<span>)</span>707 22 02</span>
      </a>

      <ul class="footer__list-menu list-reset">
        <li class="footer__item-menu">
          <a href="#" class="footer__item-link">
            Главная
          </a>
          <a href="#" class="footer__item-link footer__item-link--1100">
            Каталог
          </a>
        </li>
        <li class="footer__item-menu footer__item--none">
          <a href="#" class="footer__item-link">
            Каталог
          </a>
        </li>
        <li class="footer__item-menu">
          <a href="#" class="footer__item-link">
            Строительство
          </a>
          <a href="#" class="footer__item-link footer__item-link--1100">
            Производство
          </a>
        </li>
        <li class="footer__item-menu footer__item--none">
          <a href="#" class="footer__item-link">
            Производство
          </a>
        </li>
        <li class="footer__item-menu">
          <a href="#" class="footer__item-link">
            Контакты
          </a>
        </li>
      </ul>

      <!--! ======= вставка на 795px начало =======  -->
      <div class="footer__wrapper-social-phone footer__wrapper-social-phone795">
        <a href="tel:+79827072202" class="footer__link-phone footer__link-phone795">
          <span>+7 <span>(</span>982<span>)</span> 707 22 02</span>
        </a>

        <ul class="footer__list-social footer__list-social795 list-reset">
          <li class="footer__item-social">
            <a href="" class="footer__link-social">
              <svg class="footer__svg footer__svg--ok">
                <use xlink:href="img/sprite.svg#ok"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a href="" class="footer__link-social">
              <svg class="footer__svg footer__svg--vk">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a href="" class="footer__link-social">
              <svg class="footer__svg footer__svg--watsap">
                <use xlink:href="img/sprite.svg#watsap"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a href="" class="footer__link-social">
              <svg class="footer__svg footer__svg--telegram">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!--! ======= вставка на 795px конец =======  -->
    </div>

    <!--! ======= вставка на 575px начало =======  -->
    <div class="footer__wrapper-social-phone footer__wrapper-social-phone575">
      <a href="tel:+79827072202" class="footer__link-phone footer__link-phone795">
        <span>+7 <span>(</span>982<span>)</span> 707 22 02</span>
      </a>

      <ul class="footer__list-social footer__list-social795 list-reset">
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--ok">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--vk">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--watsap">
              <use xlink:href="img/sprite.svg#watsap"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--telegram">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!--! ======= вставка на 575px конец =======  -->

    <div class="footer__wrapper-social">
      <span class="footer__legislation">Все права защищены<br>2023 г.</span>

      <ul class="footer__list-social footer__list-social--none list-reset">
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--ok">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--vk">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--watsap">
              <use xlink:href="img/sprite.svg#watsap"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
            <svg class="footer__svg footer__svg--telegram">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <span class="footer__legislation footer__legislation--right">Политика кондефиденциальности<br>Пользовательское
        соглашение</span>
    </div>
  </div>
</footer>
<!--? ======= FOOTER END ======= -->