<!--? ======= ABOUT START ======= -->
<section class="about">
  <h2 class="about__hidden" hidden="hidden">about</h2>
  <div class="about__container container">

    <picture class="about__image">
      <source srcset="../img/about.webp" type="image/webp">
      <img loading="lazy" src="../img/about." class="about__pic" alt="">
    </picture>

    <section class="about__infa">
      <h2 class="about__title title-h2">
        О&nbsp;компании
      </h2>

      <picture class="about__image550">
        <source srcset="../img/about.webp" type="image/webp">
        <img loading="lazy" src="../img/about." class="about__pic" alt="">
      </picture>

      <p class="about__subtitle subtitle">
        ООО &quot;МД-Строй&nbsp;&mdash; предприятие, работающее в&nbsp;сфере строительства жилых и&nbsp;нежилых зданий
        и&nbsp;производства погонажных изделий из&nbsp;сосны и&nbsp;лиственницы.
      </p>

      <p class="about__slogan slogan">
        ООО &quot;MД-Строй&nbsp;&mdash; единственная производственная компания, которая изготавливает изделия
        из&nbsp;лиственницы в&nbsp;Забайкальском крае. В&nbsp;спектр услуг включено:
      </p>

      <ul class="about__list list-reset">
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Строительство &laquo;под ключ&raquo; жилых домов и&nbsp;нежилых зданий
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Составление и&nbsp;согласование сметы с&nbsp;заказчиком
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Проектирование
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Дизайн интерьера
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Изготовление мебели и&nbsp;интерьерных изделий из&nbsp;дерева на&nbsp;заказ
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Благоустройство прилегающей территории
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Внутренняя и внешняя отделка
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Монтаж напольного покрытия
        </li>
        <li class=" about__item items">
          <svg class="about__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Монтаж сайдинга
        </li>
      </ul>

      <a href="#" class="about__link btn btn--white">
        Подробнее
        <svg class="about__svg svg-roow">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </a>
    </section>
  </div>

  <div class="about__wrapper-video">
    <picture>
      <source srcset="../img/youtube.webp" type="image/webp">
      <img loading="lazy" src="../img/youtube." class="about__video" alt="">
    </picture>
  </div>
</section>
<!--? ======= ABOUT END ======= -->