<!--? ======= ADVANTAGES START =======  -->
<section class="advantages">
  <div class="advantages__container container">

    <section class="advantages__content">
      <h2 class="advantages__title title-h2">
        почему выбирают нас
      </h2>

      <ul class="advantages__list list-reset">
        <li class="advantages__item items">
          <svg class="advantages__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame-big"></use>
          </svg>
          Команда профессионалов,<br class="advantages__br"> любящих своё дело
        </li>
        <li class="advantages__item items">
          <svg class="advantages__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame-big"></use>
          </svg>
          Качественное выполнение работ
        </li>
        <li class="advantages__item items">
          <svg class="advantages__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame-big"></use>
          </svg>
          Более 20&nbsp;видов погонажных<br class="advantages__br"> изделий из&nbsp;дерева
        </li>
        <li class="advantages__item items">
          <svg class="advantages__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame-big"></use>
          </svg>
          Современное оборудование
        </li>
        <li class="advantages__item items">
          <svg class="advantages__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame-big"></use>
          </svg>
          Сдача объектов в&nbsp;заявленные<br class="advantages__br"> сроки
        </li>
      </ul>
    </section>
  </div>
</section>
<!--? ======= ADVANTAGES END =======  -->