<!--? ======= INDEX HERO START ======= -->
<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title title">
      Строительство домов и&nbsp;производство погонажных изделий из&nbsp;дерева
    </h1>

    <p class="hero__subtitle subtitle">
      Профессиональная команда строителей с&nbsp;опытом работы более 20&nbsp;лет создаст для вас экологичную среду для
      жизни и&nbsp;работы
    </p>

    <a href="#" class="hero__link btn">
      В&nbsp;каталог
      <svg class="hero__svg svg-roow">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>
<!--? ======= INDEX HERO END ======= -->