<!--? ======= MAP START ======= -->
<section class="map">
  <div class="map__container container">
    <h2 class="map__title title-h2">найти цех просто</h2>
  </div>

  <div class="map__wrap">
    <div style="position:relative;overflow:hidden;">
      <a href="https://yandex.ru/maps/68/chita/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">Чита</a>
      <a href="https://yandex.ru/maps/68/chita/?ll=113.566712%2C52.003486&utm_medium=mapframe&utm_source=maps&z=17.01"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Чита — Яндекс Карты</a>
      <iframe class="map__iframe" src="https://yandex.ru/map-widget/v1/?ll=113.566712%2C52.003486&z=17.01"
        frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
  </div>
</section>
<!--? ======= MAP END ======= -->