<!--? ======= NEWS START ======= -->
<section class="news">
  <div class="news__container container">
    <h2 class="news__title title-h2">
      новости
    </h2>

    <ul class="news__list list-reset">
      <li class="news__item">
        <p class="news__content">Добавлена информация по&nbsp;новым изделиям</p>
        <span class="news__date">10&nbsp;мая 2023&nbsp;г</span>
      </li>
      <li class="news__item">
        <p class="news__content">Поздравляем коллектив регионального представительства ООО &laquo;МД-Строй&raquo;
          с&nbsp;международным праздником</p>
        <span class="news__date">22&nbsp;января 2023&nbsp;г</span>
      </li>
      <li class="news__item">
        <p class="news__content">Срок действия договоренностей продлен на&nbsp;год</p>
        <span class="news__date">15&nbsp;июня 2023&nbsp;г</span>
      </li>
      <li class="news__item">
        <p class="news__content">Поступление в&nbsp;продажу новых изделий</p>
        <span class="news__date">2&nbsp;июля 2023&nbsp;г</span>
      </li>
    </ul>

    <a href="#" class="news__link btn btn--white">
      Все новости
      <svg class="news__svg svg-roow">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>
<!--? ======= NEWS END ======= -->