<!--? ======= PARTNERS START =======  -->
<section class="partners">
  <div class="partners__container container">
    <div class="partners__picture">
      <picture>
        <source srcset="img/form.webp" type="image/webp">
        <img loading="lazy" src="img/form.jpg" class="partners__image" alt="partners and clients">
      </picture>
    </div>

    <section class="partners__right-wrapper">
      <h2 class="partners__title title-h2">
        партнерам и&nbsp;клиентам
      </h2>
      <p class="partners__subtitle subtitle">
        Задать вопрос или оставить заявку
      </p>
      <span class="partners__slogan slogan">
        Оставьте контактные данные, с&nbsp;вами свяжутся в&nbsp;ближайшее время
      </span>

      <form action="#" class="partners__form form">
        <div class="partners__form-wrapper-input">
          <label class="partners__label">
            <input type="text" class="partners__input input-reset" placeholder="Имя">
          </label>
          <label class="partners__label">
            <input type="text" class="partners__input input-reset" placeholder="Телефон">
          </label>
        </div>

        <textarea class="partners__textarea" placeholder="Текст сообщения или вопрос"></textarea>

        <div class="partners__form-wrapper-input-files">
          <label class="partners__label-files">
            <svg class="partners__label-svg">
              <use xlink:href="img/sprite.svg#clip"></use>
            </svg>
            <input type="text" value="Прикрепить файл" class="partners__input partners__input--files input-reset">
          </label>
          <label class="partners__label-files">
            <input type="text" value="documenty.pdf" class="partners__input partners__input--files input-reset">
            <svg class="partners__label-svg">
              <use xlink:href="img/sprite.svg#trash"></use>
            </svg>
          </label>
        </div>

        <div class="partners__form-wrapper-button">
          <button class="partners__button btn">
            Отправить
            <svg class="partners__svg svg-roow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
          <span class="partners__form-text">
            Отправляя заявку, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных
          </span>
        </div>
      </form>

    </section>
  </div>
</section>
<!--? ======= PARTNERS END =======  -->