<!--? ======= ABOUT-SERVICES START ======= -->
<section class="about-services">
  <h2 class="about-services__title" hidden="hidden">Наши услуги</h2>
  <div class="about-services__container container">

    <section class="about-services__history">
      <picture class="about-services__image about-services__history-image">
        <source srcset="img/about-list-services.webp" type="image/webp">
        <img class="about-services__pic about-services__history-pic" loading="lazy" src="img/about-list-services.jpg"
          alt="services">
      </picture>

      <section class="about-services__content">
        <h4 class="about-services__title about-services__title-h4 title-h4">
          История компании
        </h4>
        <p class="about-services__text">
          Строительная компания <span>ООО &laquo;МД-Строй&raquo;</span> начала свою деятельность в&nbsp;городе Чита
          <span>Забайкальского края</span> 15&nbsp;августа 2018&nbsp;года. Первым проектом и&nbsp;уникальным для города
          объектом <span>&laquo;под
            ключ&raquo;</span> в&nbsp;2018&nbsp;г. стал <span>отель &laquo;Лисья нора&raquo;</span>,
          по&nbsp;адресу&nbsp;ул.
          Костюшко-Григоровича, д.&nbsp;23. В&nbsp;2019 году был произведён <span>капитальный ремонт</span> фасада
          объекта культурного
          наследия&nbsp;&mdash; бывшего <span>здания &laquo;Мужской гимназии&raquo; г. Читы</span> (учебный корпус ЧГМА
          по&nbsp;ул. Бабушкина),
          возведённого в&nbsp;1891&nbsp;г. Ноябрь 2021 года&nbsp;&mdash; <span>сдан в&nbsp;эксплуатацию</span>
          многоквартирный <span>девятиэтажный
            дом</span> на&nbsp;ул. Томская, д.&nbsp;8. Общая площадь составила <span>5&nbsp;213&nbsp;м&sup2;.</span>
          Сентябрь 2022 года&nbsp;&mdash; сдача объекта
          после демонтажных, монтажных, общестроительных и&nbsp;отделочных работ для перепрофилирования здания под
          <span>образовательный
            центр &laquo;Эврика&raquo;</span> на&nbsp;ул. Ленина, д.&nbsp;65. Октябрь 2022 года&nbsp;&mdash; завершилось
          <span>строительство многоквартирного четырёхэтажного дома</span> на&nbsp;ул. Смоленской, д.&nbsp;30. Общая
          площадь объекта
          <span>2800&nbsp;м&sup2;</span> и&nbsp;подземный паркинг 1000&nbsp;м&sup2;.
        </p>
        <p class="about-services__text about-services__text-order">
          Идея открыть производство погонажных изделий из&nbsp;дерева возникла в&nbsp;2021&nbsp;году, запуск состоялся
          уже в&nbsp;январе 2022. <span>Производственная площадь в&nbsp;1000&nbsp;м&sup2;</span> позволила изготавливать
          большой запас продукции из&nbsp;сосны и&nbsp;лиственницы, а&nbsp;закупка обрезной доски у&nbsp;Забайкальских
          лесоперерабатывающих предприятий&nbsp;&mdash; снизить цену на&nbsp;готовые изделия.
        </p>
      </section>
    </section>

    <section class="about-services__services">
      <h2 class="about-services__title title-h2">Предлагаем полный спектр услуг по&nbsp;строительству,
        от&nbsp;<br class="about-services__br998">проектирования до&nbsp;<br class="about-services__br998">реализации
      </h2>

      <ul class="about-services__list list-reset">
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Строительство &laquo;под ключ&raquo; жилых домов и&nbsp;нежилых зданий
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Составление и&nbsp;согласование сметы с&nbsp;заказчиком
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Проектирование
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Дизайн интерьера
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Изготовление мебели и&nbsp;интерьерных изделий из&nbsp;дерева на&nbsp;заказ
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Благоустройство прилегающей территории
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Внутренняя и внешняя отделка
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Монтаж напольного покрытия
        </li>
        <li class=" about-services__item items">
          <svg class="about-services__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          Монтаж сайдинга
        </li>
      </ul>

      <picture class="about-services__image about-services__services-image">
        <source srcset="img/about-history.webp" type="image/webp">
        <img class="about-services__pic about-services__services-pic" loading="lazy" src="img/about-history.jpg"
          alt="services">
      </picture>
    </section>
  </div>
</section>
<!--? ======= ABOUT-SERVICES END ======= -->