<!--? ======= ABOUT-ADVANTAGES START ======= -->
<div class="about-advantages">
  <div class="about-advantages__container container">

    <div class="about-advantages__card card">
      <img loading="lazy" src="img/pine.png" class="about-advantages__pic" width="100" height="100" alt="pine">
      <p class="about-advantages__text">
        Высококачественная <br>продукция <br>из&nbsp;забайкальской <br>сосны <br>и&nbsp;лиственницы
      </p>
    </div>

    <div class="about-advantages__card card">
      <img loading="lazy" src="img/team.png" class="about-advantages__pic" width="100" height="100" alt="pine">
      <p class="about-advantages__text">
        Команда профессионалов
      </p>
    </div>

    <div class="about-advantages__card card">
      <img loading="lazy" src="img/qualiti.png" class="about-advantages__pic" width="100" height="100" alt="pine">
      <p class="about-advantages__text">
        Качество <br>выполненной <br>работы
      </p>
    </div>

    <div class="about-advantages__card card">
      <img loading="lazy" src="img/products.png" class="about-advantages__pic" width="100" height="100" alt="pine">
      <p class="about-advantages__text">
        Широкий <br>ассортимент <br>продукции
      </p>
    </div>

    <div class="about-advantages__card card">
      <img loading="lazy" src="img/gurantees.png" class="about-advantages__pic" width="100" height="100" alt="pine">
      <p class="about-advantages__text">
        Гарантии на&nbsp;объекты после сдачи
      </p>
    </div>
  </div>
</div>
<!--? ======= ABOUT-ADVANTAGES END ======= -->