<!--? ======= ABOUT-STANDARD START ======= -->
<section class="about-standard">
  <div class="about-standard__container container">
    <h4 class="about-standard__title title-h4">
      Для того, чтобы качественная продукция всегда была в&nbsp;наличии, производство ООО &laquo;МД-Строй&raquo;
      оборудовано
      в&nbsp;соответствии с&nbsp;современными стандартами:
    </h4>

    <ul class="about-standard__list list-reset">
      <li class=" about-standard__item items">
        <div class="about-standard__item-top">
          <svg class="about-standard__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          <span>Сушильный цех</span>
        </div>
        <p class="about-standard__text">
          Цех оснащён двумя вакуумными сушильными камерами <span>объёмом 16&nbsp;м&sup3;.</span>
        </p>
      </li>
      <li class=" about-standard__item items">
        <div class="about-standard__item-top">
          <svg class="about-standard__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          <span>Цех обработки</span>
        </div>
        <p class="about-standard__text">
          Данный цех оснащён четырёхсторонним шестишпиндельным станком Beaver и&nbsp;торцовочным станком проходного
          типа. <span>Станок
            Beaver</span> предназначен для строжки пиломатериала&nbsp;&mdash; плоскостной и&nbsp;профильной обработки
          досок с&nbsp;четырёх
          сторон за&nbsp;один проход. Торцовочный станок&nbsp;&mdash; для распиловки досок под заранее определённый
          размер.
          В&nbsp;итоге геометрия погонажных изделий получается безупречной.
        </p>
      </li>
      <li class=" about-standard__item items">
        <div class="about-standard__item-top">
          <svg class="about-standard__svg frame-svg">
            <use xlink:href="img/sprite.svg#frame"></use>
          </svg>
          <span>Столярный цех</span>
        </div>
        <p class="about-standard__text">
          Столярный цех открылся в&nbsp;январе 2023&nbsp;г. Мастерская специализируется
          на&nbsp;изготовлении<span>&laquo;под
            ключ&raquo;</span> модульных каркасных домов, садового паркета, изделий из&nbsp;дерева и&nbsp;мебели: столы,
          стулья, кровати,
          двери, комоды и&nbsp;т.п. А&nbsp;также принимаются заказы на&nbsp;изготовление лестниц, туалетов, окон,
          ставней,
          скамеек, беседок по&nbsp;индивидуальным размерам из&nbsp;сосны и&nbsp;лиственницы.
        </p>
      </li>
    </ul>
  </div>
</section>
<!--? ======= ABOUT-STANDARD END ======= -->