<!--? ======= ABOUT-MANUFACTURING START ======= -->
<section class="manufacturing">
  <h2 class="manufacturing__title" hidden="hidden">изготовление изделий</h2>
  <div class="manufacturing__container container">
    <h2 class="manufacturing__title manufacturing__title--h2 title-h2">Как происходит <br>изготовление изделий?</h2>
    <ul class="manufacturing__list list-reset">
      <li class="manufacturing__item">
        Закупка обрезной доски из<br class="manufacturing__item-br">сосны и лиственницы у <br
          class="manufacturing__item-br">лесоперерабатывающих <br class="manufacturing__item-br">предприятий
      </li>
      <li class="manufacturing__item">
        Доставка материала <br class="manufacturing__item-br">в сушильный цех
      </li>
      <br class="manufacturing__list-br">
      <li class="manufacturing__item">
        Сушка изделий <br class="manufacturing__item-br">в сушильных камерах в <br
          class="manufacturing__item-br">течение 3-4 дней
      </li>
      <li class="manufacturing__item">
        поступление изделия <br class="manufacturing__item-br">в цех обработки
      </li>
      <li class="manufacturing__item">
        строжка <br class="manufacturing__item-br">материала
      </li>
    </ul>

    <section class="manufacturing__ecology">
      <h3 class="manufacturing__title manufacturing__title--h4 title-h4">Компания заботится об&nbsp;окружающей среде
        и&nbsp;экологии.</h3>
      <p class="manufacturing__text">
        Производство <span>модернизировали</span> для глубокой <span>безотходной переработки</span> древесины.
        Производственный
        комплекс оснащён
        пеллетной
        установкой для <span>переработки опилок</span> в&nbsp;топливные пеллеты, а&nbsp;<span>столярный цех</span> был
        создан для <span>переработки
          брака</span>
        производственного цеха.
      </p>
    </section>

    <div class="manufacturing__video-wrapper">
      <picture>
        <source srcset="../img/youtube.webp" type="image/webp">
        <img class="manufacturing__video" loading="lazy" src="../img/youtube." alt="video">
      </picture>
    </div>
  </div>
</section>
<!--? ======= ABOUT-MANUFACTURING END ======= -->