/*? ======= CAT-GALLERY START =======  */
.cat-gallery {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 80px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  &__items--column1 > &__link {
    height: 300px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &:nth-child(even) {
      height: 400px;
    }
  }

  &__items--column2 {
    margin-top: 79px;
  }

  &__items--column2 > &__link {
    height: 510px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    position: relative;
  }

  &__title {
    width: 100%;
    height: 79px;
    border-top: 2px solid var(--color-text);
    padding: 20px 10px 15px 10px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__link--db990 {
    display: none;
  }

  &__link--db670 {
    display: none;
  }
}
/*? ======= CAT-GALLERY END =======  */
/*? ======= CAT-GALLERY MEDIA START =======  */
@media screen and (max-width: 990px) {
  .cat-gallery {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }

    &__items--none990 {
      display: none;
    }

    &__link--db990 {
      display: block;
    }

    &__items--column2:last-child {
      margin-top: 0;
    }

    &__items > &__link {
      height: 300px;
    }

    &__items:nth-child(1) > &__link:nth-child(2) {
      height: 510px;
    }

    &__items:nth-child(1) > &__link:nth-child(3) {
      height: 400px;
    }

    &__items:nth-child(4) > &__link:nth-child(2) {
      height: 510px;
    }

    &__items:nth-child(4) > &__link:nth-child(3) {
      height: 400px;
    }
  }
}

@media screen and (max-width: 670px) {
  .cat-gallery {
    padding-top: 50px;
    padding-bottom: 53px;

    &__container {
      grid-template-columns: repeat(2, 1fr);
    }

    &__items--none670 {
      display: none;
    }

    &__items--column2 {
      margin-top: 0;
    }

    &__link--db670 {
      display: block;
    }

    &__items:nth-child(2) > &__link:nth-child(2) {
      height: 510px;
    }

    &__items:nth-child(2) > &__link:nth-child(3) {
      height: 400px;
    }

    &__items:nth-child(1) > &__link:nth-child(4) {
      height: 300px;
    }
  }
}

@media screen and (max-width: 455px) {
  .cat-gallery {
    &__container {
      grid-template-columns: 1fr;
    }

    &__items:nth-child(1) {
      margin-bottom: 20px;
    }

    &__items > &__link {
      height: 250px !important;
    }
  }
}
/*? ======= CAT-GALLERY MEDIA END =======  */
