<!--? ======= FORM START ======= -->
<div class="form-wrapper">
  <div class="form-wrapper-container container">

    <div class="form-wrapper-image">
      <picture>
        <source srcset="img/catalog-form-pic.webp" type="image/webp">
        <img class="form-wrapper-img" src="img/catalog-form-pic.jpg" loading="lazy" alt="pig-form">
      </picture>
    </div>

    <section class="form-wrapper-form">
      <div class="form-title subtitle">Получите бесплатную консультацию специалистов по&nbsp;выбору товара</div>
      <span class="form-subtitle">Оставьте контактные данные, с&nbsp;вами свяжутся в&nbsp;ближайшее время</span>

      <form class="form form-catalog" action="#">
        <div class="form__body">
          <label class="form__label">
            <input class="form__input input-reset" type="text" placeholder="Имя">
          </label>
          <label class="form__label">
            <input class="form__input input-reset" type="text" placeholder="Телефон" required>
          </label>
        </div>

        <div class="form__footer">
          <button class="form__button btn btn--red btn-reset">
            Отправить
            <svg class="form__svg svg-roow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
          <span>Отправляя заявку, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных</span>
        </div>
      </form>
    </section>
  </div>
</div>
<!--? ======= FORM END ======= -->