<!--? ======= CAT-GALLERY START =======  -->
<div class="cat-gallery">
  <div class="container cat-gallery__container">

    <div class="cat-gallery__items cat-gallery__items--column1">
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Вагонка штиль лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g1.1.webp" type="image/webp">
          <img loading="lazy" src="img/g1.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Евровагонка лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g1.2.webp" type="image/webp">
          <img loading="lazy" src="img/g1.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Прямой планкен лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g1.3.webp" type="image/webp">
          <img loading="lazy" src="img/g1.3.png" class="cat-gallery__image" alt="">
        </picture>
      </a>

      <!--? ======= добавляется на разрешении 670рх =======  -->
      <a href="" class="cat-gallery__link cat-gallery__link--db670">
        <h6 class="cat-gallery__title title-h6">Имитация бруса сосна</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g4.1.webp" type="image/webp">
          <img loading="lazy" src="img/g4.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link cat-gallery__link--db670">
        <h6 class="cat-gallery__title title-h6">Имитация бруса лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g4.2.webp" type="image/webp">
          <img loading="lazy" src="img/g4.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
    </div>

    <div class="cat-gallery__items cat-gallery__items--column2">
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Доска пола лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g2.1.webp" type="image/webp">
          <img loading="lazy" src="img/g2.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Косой планкен лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g2.2.webp" type="image/webp">
          <img loading="lazy" src="img/g2.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>

      <!--? ======= добавляется на разрешении 990рх =======  -->
      <a href="" class="cat-gallery__link cat-gallery__link--db990">
        <h6 class="cat-gallery__title title-h6">Доска пола сосна</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.1.webp" type="image/webp">
          <img loading="lazy" src="img/g3.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link cat-gallery__link--db990">
        <h6 class="cat-gallery__title title-h6">Палубная доска лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.2.webp" type="image/webp">
          <img loading="lazy" src="img/g3.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>

      <!--? ======= добавляется на разрешении 670рх =======  -->
      <a href="" class="cat-gallery__link cat-gallery__link--db670">
        <h6 class="cat-gallery__title title-h6">Террасная доска лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.3.webp" type="image/webp">
          <img loading="lazy" src="img/g3.3.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
    </div>

    <div class="cat-gallery__items cat-gallery__items--column1 cat-gallery__items--none990">
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Доска пола сосна</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.1.webp" type="image/webp">
          <img loading="lazy" src="img/g3.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Палубная доска лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.2.webp" type="image/webp">
          <img loading="lazy" src="img/g3.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Террасная доска лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.3.webp" type="image/webp">
          <img loading="lazy" src="img/g3.3.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
    </div>

    <div class="cat-gallery__items cat-gallery__items--column2 cat-gallery__items--none670">
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Имитация бруса сосна</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g4.1.webp" type="image/webp">
          <img loading="lazy" src="img/g4.1.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
      <a href="" class="cat-gallery__link">
        <h6 class="cat-gallery__title title-h6">Имитация бруса лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g4.2.webp" type="image/webp">
          <img loading="lazy" src="img/g4.2.png" class="cat-gallery__image" alt="">
        </picture>
      </a>

      <!--? ======= добавляется на разрешении 990рх =======  -->
      <a href="" class="cat-gallery__link cat-gallery__link--db990">
        <h6 class="cat-gallery__title title-h6">Террасная доска лиственница</h6>
        <picture class="cat-gallery__picture">
          <source srcset="img/g3.3.webp" type="image/webp">
          <img loading="lazy" src="img/g3.3.png" class="cat-gallery__image" alt="">
        </picture>
      </a>
    </div>
  </div>
</div>
<!--? ======= CAT-GALLERY END =======  -->