<!--? ======= CAT-HERO START =======  -->
<section class="cat-hero">
  <div class="container cat-hero__container">
    <h1 class="cat-hero__title title">
      Каталог
    </h1>

    <p class="cat-hero__subtitle subtitle">
      В&nbsp;каталоге представлен широкий выбор погонажных изделий из&nbsp;сосны и&nbsp;лиственницы. Высокий спрос
      на&nbsp;материалы обусловлен свойствами древесины&nbsp;&mdash; прочность, ударостойкость, экологичность
      и&nbsp;гипоаллергенность
    </p>
  </div>
</section>
<!--? ======= CAT-HERO END =======  -->